GROQ_API_KEY=

#Gemini credentials
GEMINI_API_KEY=
NAME=
PROJECT_NUMBER=

# LangSmith credentials
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="Prod API"

APP_ENV=development
RATE_LIMIT=20/minute
CACHE_TTL=300
MAX_RETRIES=3
LOG_LEVEL=INFO